h3{
    text-align: center;
    text-decoration: underline rgb(253, 27, 2);
    
}
body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
}
.form input[type=number]{
    color: black;
    font-weight: bolder;
    width: 100px;
    border: none;
}
.form input{
    padding-left: 50px;
    margin-left: 20px;
}
.table{
  margin-left: 45%;
  border-collapse: collapse;
}